<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
  <title>Profile Page</title>
</head>
<body>
<div id="content">
  <!-- sidebar -->

  <!-- user is logged in : sidebar -->

  <div th:if="${loggedInUser}">
    <div data-th-replace="~{user/sidebar :: sidebar}"></div>
  </div>


  <div class="sm:pl-64 pt-20" style="height: 1000px">
    <div class="flex items-center justify-center md:pt-32 flex-col">
      <!--  profie card -->
      <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg max-w-2xl w-full">
        <div class="flex flex-col items-center">
          <h2 class="text-2xl font-semibold mb-2 inline">Change Password</h2>

          <div data-th-replace="~{message :: messagebox}"></div>

          <div class="w-full mt-5">
            <form class="max-w-sm mx-auto" method="post" data-th-action="@{'/user/updatePassword'}">
              <div class="mb-3">
                <label
                        for="password1"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Enter Old Password</label>
                <input
                        name="password1"
                        type="password"
                        id="password1"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                />
              </div>
              <div class="mb-3">
                <label
                        for="password2"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Enter New Password</label>
                <input
                        name="password2"
                        type="password"
                        id="password2"
                        minlength="8"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                />
              </div>
              <!-- password field -->
              <div class="mb-3">
                <label
                        for="password3"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Enter New Password Again</label
                >
                <input
                        type="password"
                        id="password3"
                        name="password3"
                        minlength="8"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                />
              </div>

              <div class="mb-3 flex justify-center space-x-3">
                <button
                        type="submit"
                        class="px-3 py-2 rounded bg-gray-800 hover:bg-gray text-white dark:bg-blue-800 dark:hover:bg-blue-800"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  console.log("this is profile page");
</script>
<script>
  const password2 = document.getElementById('password2');
  const password3 = document.getElementById('password3');

  password3.addEventListener('input', () => {
      if (password2.value !== password3.value) {
          password3.setCustomValidity('Passwords do not match.');
      } else {
          password3.setCustomValidity('');
      }
  });
</script>
</body>
</html>
