<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title data-th-text="${loggedInUser.name}+' |  SCM'">Profile Page</title>
  </head>
  <body>
    <div id="content">
      <!-- sidebar -->

      <!-- user is logged in : sidebar -->

      <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
      </div>

        <!-- Popup Notification -->
        <div id="popupContainer" class="hidden bg-white dark:bg-gray-600" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
      z-index: 1000; border: 1px solid #ccc; padding: 20px 40px; border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); animation: fadeOut 5s forwards;">
            <div class="popup-backdrop" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
       z-index: 999;"></div>
            <div class="popup-message">
                <p id="popupTextMessage"></p>
            </div>
        </div>

      <div class="sm:pl-64 pt-20" style="height: 1000px">
        <div class="flex items-center justify-center md:pt-32 flex-col">
          <!--  profie card -->
          <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg max-w-2xl w-full">
            <div class="flex flex-col items-center">
                <img data-th-src="${loggedInUser.profilePic != null ? loggedInUser.profilePic : '/images/contact.png'}"
                     src="path/to/profilePic.jpg" alt="Profile Photo" class="w-44 h-44 rounded-full shadow-lg object-cover mb-4">
                <h2 class="text-2xl font-semibold mb-2 inline" data-th-text=${loggedInUser.name}>User Name</h2>
                <p class="text-gray-600 mb-2" data-th-text="${loggedInUser.email}">user.email@example.com</p>
                <p class="text-gray-600 mb-2" data-th-text="${loggedInUser.phoneNumber}">123-456-7890</p>
                <p class="text-gray-600 mb-4 text-center" data-th-text="${loggedInUser.about}">About the user...</p>
                <div>
                    <!-- update contact -->
                    <a data-th-href="@{'/user/profile/update'}" class="inline ml-2">
                        <i class="fa-solid w-6 h-6 fa-pen"></i>
                    </a>
                    <!-- delete contact -->
                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="inline">
                        <i class="fa-solid w-6 h-6 fa-trash"></i>
                    </button>
                    <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-md max-h-full">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                                <div class="p-4 md:p-5 text-center">
                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                    </svg>
                                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Your profile and contacts will be deleted. <br>Are you sure you want to delete your profile??</h3>
                                    <a data-th-href="@{'/user/profile/delete/'+${loggedInUser.userId}}" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                        Yes, I'm sure
                                    </a>
                                    <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-sm text-gray-500">Email Verified: <span class="font-medium text-gray-700" id="email-verified" data-th-text="${loggedInUser.emailVerified ? 'YES':'NO'}">No</span></p>

                    <a data-th-href="@{/user/changePassword}" href="#" class="inline-flex block mb-2 text-sm font-medium text-gray-700 dark:text-white hover:underline">
                        Change password
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
    <script data-th-src="@{'/js/profile.js'}"></script>
    <script>
      console.log("this is profile page");
    </script>
  </body>
</html>
