<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
    <title>Login</title>
</head>
<body>
<div id="content">
    <div class="grid grid-cols-12 mt-4">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
            <!-- 6 ki spance le rhi hai -->
            <!-- card -->
            <div
                    class="block p-6 border-t-[10px] border-green-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700"
            >

                <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Verify OTP
                </h5>

                <!-- message here -->
                <div data-th-replace="message::messagebox"></div>
                <!-- this is  form -->
                <form
                        method="post"
                        data-th-action="@{'/verifyOTP'}"
                        class="mt-5">
                    <div class="mb-3">
                        <label
                                for="OTP"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Enter OTP</label>
                        <input
                                name="OTP"
                                type="text"
                                id="OTP"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required
                        />
                    </div>

                    <div class="mb-3 flex justify-center space-x-3">
                        <button
                                type="submit"
                                class="px-3 py-2 rounded bg-gray-800 hover:bg-gray text-white dark:bg-blue-800 dark:hover:bg-blue-800"
                        >
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("Login page");
</script>
</body>
</html>
